@import "../../consts";

.schedule-list-wrapper {
  max-width: 1200px;

  .schedule-list {
    font-family: "Roboto", sans-serif;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: $white;

    .loading {
      display: grid;
      justify-content: center;
      @include title-font();
      text-transform: capitalize;
      padding: 1rem;
    }

    .channel-name {
      @include title-font();
      text-transform: capitalize;
      padding: 0rem 1rem;
    }

    .date-info {
      padding: 1rem 1rem 0rem 1rem;
      @include sub-title-font();
    }

    hr {
      margin: 0;
      outline: none;
      background-color: $white;
      border: none;
      height: 1px;
      width: 50%;
      margin: auto;
    }

    @include button-main();

    .button-wrapper {
      position: sticky;
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: space-between;
      top: 80%;
      animation: slide-apart 200ms ease;

      @keyframes slide-apart {
        from {
          width: 0;
          opacity: 0;
        }
        to {
          width: 100%;
          opacity: 1;
        }
      }

      .floating-button-left {
        height: 100%;
        width: 4rem;

        button {
          left: -100px;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background-color: $white;
          @include title-font();
          color: $white;
          display: grid;
          justify-content: center;

          @include arrow-left;
          @include arrow-right;

          &:hover {
            .arrow-left {
              border-right: 1rem solid $black;
            }
            .arrow-right {
              border-left: 1rem solid $black;
            }
            background-color: $green;
          }

          &.floating-sticky {
            position: sticky;
          }
        }
      }

      .floating-button-right {
        margin-right: 1rem;
        height: 100%;
        width: 4rem;

        button {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background-color: $white;
          @include title-font();
          color: $white;
          display: grid;
          justify-content: center;

          @include arrow-left;
          @include arrow-right;

          &:hover {
            .arrow-left {
              border-right: 1rem solid $black;
            }
            .arrow-right {
              border-left: 1rem solid $black;
            }
            background-color: $green;
          }

          &.floating-sticky {
            position: sticky;
          }
        }
      }
    }

    .show-block {
      @include reading-font();
      max-width: 600px;

      .show-block-details {
        width: fit-content;
        display: flex;
        flex-direction: row;

        .time-info {
          min-width: 70px;
          padding: 1rem;
          text-align: center;
          display: flex;
          align-items: center;
          white-space: nowrap;
        }
        .show-info {
          padding: 1rem;
          flex-direction: column;

          .show-title {
            font-weight: 700;
          }

          .episode-title {
            font-weight: 300;
          }
        }
      }
      &:last-child {
        hr {
          display: none;
        }
        .time-info {
          margin-bottom: 3rem;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: $bg-black;
      }
    }
  }
}
