@use "../../consts" as c;

.schedule-list-wrapper {
  opacity: 1;
  transition: opacity 1000ms ease;

  &.hidden {
    opacity: 0;
    transition: opacity 1000ms ease;
  }

  .schedule-list {
    max-width: c.$tablet;
    min-width: c.$tablet;
    display: flex;
    flex-direction: column;
    color: c.$white;
    margin-top: -4rem;

    @media (max-width: c.$tablet) {
      min-width: calc(100vw - 1.5rem);
    }

    .loading {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 0;
      @include c.title-font;
      text-transform: capitalize;
      padding: 1rem;
    }

    .channel-date-wrapper {
      top: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 6rem;
      position: sticky;
      background-color: c.$black;
      opacity: 1;
      transition: opacity 300ms ease 400ms;

      .channel-name {
        @include c.title-font;
        text-transform: capitalize;
        padding: 0rem 1rem;
      }

      .date-info {
        padding: 1rem 1rem 0rem 1rem;
        @include c.sub-title-font;
      }

      &.hidden {
        opacity: 0;
        transition: opacity 300ms ease;
        z-index: -1;
      }
    }

    hr {
      margin: 0;
      outline: none;
      background-color: c.$white;
      border: none;
      height: 1px;
      width: 50%;
      margin: auto;
    }

    @include c.button-main;

    .button-wrapper {
      position: sticky;
      width: 100%;
      height: 4rem;
      display: flex;
      top: 80%;
      justify-content: space-between;
      opacity: 1;
      transition: opacity 300ms ease 300ms;

      animation: slide-apart 300ms ease;

      @keyframes slide-apart {
        from {
          top: 100%;
          opacity: 0;
        }
        to {
          top: 80%;
          opacity: 1;
        }
      }

      &.hidden {
        opacity: 0;
        transition: opacity 300ms ease;
      }

      .floating-button-left {
        margin-left: 0.5rem;
        height: 100%;
        width: 4rem;

        button {
          left: -100px;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background-color: c.$green;
          @include c.title-font;
          color: c.$white;
          display: grid;
          justify-content: center;

          @include c.arrow-left;
          @include c.arrow-right;

          &:hover {
            background-color: c.$white;
          }

          &.floating-sticky {
            position: sticky;
          }
        }
      }

      .floating-button-right {
        margin-right: 1rem;
        height: 100%;
        width: 4rem;

        button {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background-color: c.$green;
          @include c.title-font;
          color: c.$white;
          display: grid;
          justify-content: center;

          @include c.arrow-left;
          @include c.arrow-right;

          &:hover {
            background-color: c.$white;
          }

          &.floating-sticky {
            position: sticky;
          }
        }
      }
    }

    .show-block {
      margin-left: 20%;
      transition: margin 300ms ease;
      @include c.reading-font;

      .show-block-details {
        max-width: 100%;
        display: flex;
        flex-direction: row;

        .time-info {
          min-width: 70px;
          padding: 1rem;
          text-align: center;
          display: flex;
          align-items: center;
          white-space: nowrap;
        }
        .show-info {
          padding: 1rem;
          flex-direction: column;

          .show-title {
            font-weight: 700;
          }

          .episode-title {
            font-weight: 300;
          }
        }
      }
      &:last-child {
        hr {
          display: none;
        }
        .time-info {
          margin-bottom: 3rem;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: c.$bg-black;
      }
    }
  }

  @media (max-width: c.$mobile) {
    .schedule-list {
      .show-block {
        margin: 0%;
        transition: margin 300ms ease;
      }
    }
  }
}
