@use "../../consts" as c;

.home {
  max-width: 1200px;

  .home-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: c.$black;
    color: c.$white;
    margin-top: 1rem;

    .grid-item {
      @include c.reading-font;
      border: 1px solid c.$bg-black;
      max-width: 8rem;
      height: 8rem;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        background-color: c.$bg-black;
      }
    }

    @media (max-width: c.$mobile) {
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }
  }
}
