@use "../../consts" as c;

.header {
  background-color: c.$black;
  color: c.$white;
  height: 3rem;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  position: sticky;

  .title {
    @include c.title-font;
    padding-left: 1rem;
    margin: 0.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
    cursor: pointer;

    .green {
      color: c.$green;
    }

    .hidden-text {
      max-width: 19px;
      opacity: 1;
      transition: max-width 0.2s;

      &:after {
        opacity: 0;
        content: "tack ";
        transition: opacity 0.2s;
      }

      &.open {
        max-width: 90px;
        transition: max-width 0.2s;
        &:after {
          transition: opacity 0.2s;
          opacity: 1;
        }
      }

      &:hover {
        max-width: 90px;
        transition: max-width 0.2s;
        &:after {
          transition: opacity 0.2s;
          opacity: 1;
        }
      }
    }
  }

  //? hamburger menu from https://codepen.io/erikterwan/pen/EVzeRP

  .menu-toggle {
    display: block;
    position: relative;
    top: 0.9rem;
    left: 1rem;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    a {
      text-decoration: none;
      color: c.$green;
      transition: color 0.2s ease;
      &:hover {
        color: tomato;
      }
    }
    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;
      &.open {
        ~ {
          span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: c.$white;
            &:nth-last-child(3) {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
            }
            &:nth-last-child(2) {
              transform: rotate(-45deg) translate(0, -1px);
            }
          }
          ul {
            transform: none;
            li {
              cursor: pointer;
              padding-left: 1rem;
              transition: padding-left 200ms ease;
              &:hover {
                background-color: c.$bg-black;
                padding-left: 2rem;
                transition: padding-left 200ms ease;
              }
            }
          }
        }
      }
    }

    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: c.$green;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      &:first-child {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }

  .menu {
    position: absolute;
    width: 80vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 100px;
    background: c.$black;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
    overflow-y: auto;
    @include c.scrollable;
    li {
      padding: 10px 0;
      font-size: 22px;
    }
  }
}
