$green: var(--primary-color);
$green-d: var(--primary-color-dark);
$blue: #4782b9;
$blue-d: #3a6a97;
$red: #b00000;
$bg-color: var(--bg-color);
$border-color: var(--border-color);
$white: var(--font-color);
$tv-global: #1c1c1c;
$tv-history: #831107;
$tv-adult-swim: #1c1c1c;
$tv-teletoon: #8fcc33;
$tv-slice: #fb57c8;
$tv-show-case: #eaeaea;
$tv-hgtv: #48b6c5;
$tv-w: #ff6155;
$tv-treehouse: #fece00;
$tv-food-network: #d72c00;
$tv-national-geographic: #1c1c1c;
$tv-ytv: #8f23b4;
