$green: var(--primary-color);
$green-d: var(--primary-color-dark);
$blue: #4782b9;
$blue-d: #3a6a97;
$red: #b00000;
$bg-color: var(--bg-color);
$border-color: var(--border-color);
$white: var(--font-color);
