$title-font-size: 2rem;
$subtitle-font-size: 1.5rem;
$reading-font-size: 1.25rem;

@mixin title-font {
	font-size: $title-font-size;
	font-weight: 700;
}

@mixin sub-title-font {
	font-size: $subtitle-font-size;
	font-weight: 700;
}

@mixin reading-font {
	font-size: $reading-font-size;
	font-weight: 400;
}

@mixin sub-reading-font {
	@include reading-font();
	font-weight: 300;
}