$desktop: 1080px;
$tablet: 768px;
$mobile: 500px;
$overflow-height: calc(100vh - 13rem);
$content-height: calc(100vh - 3rem - 1px);
$content-sidebar-width: calc(100vw - 13rem);
$content-no-sidebar-width: calc(100vw - 1rem);
$vertical-bar-width: 40px;
