@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  --primary-color: #54b947;
  --primary-color-dark: #428f38;
  --border-color: rgb(26, 26, 26);
  --font-color: #fff;
  --bg-color: #000;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--border-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

@media (max-width: 500px) {
  html {
    font-size: 15px;
  }

  body::-webkit-scrollbar {
    width: 3px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
