@use "../../consts" as c;

.button-wrapper {
  @include c.button-main;
  overflow: hidden;
  .signin-google {
    @include c.button-google;
  }

  &.highlight {
    animation: background-animation 1s infinite ease-in-out;
    animation-direction: alternate;
    animation-delay: 300ms;

    button {
      &:focus {
        box-shadow: none;
      }
      &:hover {
        color: c.$white;
      }
      &.signin-google {
        &:hover {
          color: c.$white;
        }
      }
    }
  }

  @keyframes background-animation {
    from {
      background-color: c.$white;
      // outline: 0px solid black;
    }
    to {
      // background-color: rgba(218, 165, 32, 0.603);
      background-color: c.$black;
      // outline: 3px solid black;
    }
  }
}
